.menu{
    display:flex;
    width: 80%;
    height: 2vw;
    margin: 0.5vw auto;
    justify-content: flex-end;
  }
  .wrap{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    
    
  }
  .under_menu{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: stretch;
    font-size: 1vw;
    color: rgb(241, 182, 88);
    cursor: pointer;
  }
  .und_under_menu{
    width: 80%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
  }
  .und_under_menu:hover,
  .und_under_menu:focus{
    border-bottom: 2px solid rgba(111, 195, 197, 1);
  }
  